@model ProyectoDB2.Models.AdminModel

@{
    ViewBag.Title = "Admin Details";
}

<h1>Detalles de usuario</h1>

<div>
    <h4>Administración de usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>No.</dt>
        <dd>@Model.Id</dd>
        <dt>Nombre</dt>
        <dd>@Model.Name</dd>
    </dl>
</div>

<br />
<div class="form-group">
    <form action="@Url.Action("Edit")" method="get">
        <button type="submit" class="btn btn-primary">Regresar a la lista</button>
    </form>
    <br />
    <form action="@Url.Action("Index")" method="get">
        <button type="submit" class="btn btn-success">Regresar a la lista</button>
    </form>
</div>